body {
    background-color: var(--main-bg);
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1, h2, h3, h4, a, p {
    color:var(--text-color);
    font-family: Inter, sans-serif;
}